<ion-view view-title="MeMote">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Mood</div>
      <div class="item item-body">
<!--         <div>
          <p ng-repeat="dayta in daytas">
            <b>{{dateConverter(dayta.date)}}</b>
            <br>
            {{dayta.mood}}
          </p>
        </div> -->
        <div>
          <canvas id="moodChart" width="320" height="280"></canvas>
          <!-- <chartjs width="MoodChart.width" height="MoodChart.height" data="MoodChart.data" options="MoodChart.options" is-type="Doughnut"></chartjs> -->
        </div>
      </div>
    </div>
    <div class="list card" ng-repeat="question in questions">
      <div class="item item-divider">{{question.title}}</div>
      <div class="item item-body">
        <div>
          <p ng-repeat="dayta in daytas">
            <b>{{dateConverter(dayta.date)}}</b>
            <br>
            {{dayta.responses[question.title]}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
