<ion-view view-title="Question #{{order}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{question.title}}</div>
      <!-- <div class="item item-body"> -->
        <div>
          <label for="" class="item item-input">
            <textarea placeholder="{{question.placeholder}}"></textarea>
          </label>
        </div>
      <!-- </div> -->
    </div>

    <a class="button button-block button-calm" href="#/today/q/{{next_q}}" ng-hide="order == numQuestions">
     Next
    </a>

    <a class="button button-block button-calm" href="#/stats/day" ng-show="order == numQuestions">
     Done
    </a>

  </ion-content>
</ion-view>
